<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="zalo-platform-site-verification" content="VDwc18lGSZ8Ct-eRtUyy9LlXg3gtbtjaCp0v" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Xin chào</p>
</body>
</html>