<%- include('../layout/admin/_head') -%>
<section class="content-header">
	<div class="alert alert-danger alert-dismissible">
		<p><i class="icon fa fa-check"></i> Bạn không thể truy cập trang này. Vui lòng contact với Administrator để có thể truy cập.</p>
	</div>
</section>
</div><!--/.content-wrapper-->
<%- include('../layout/admin/_footer') -%>
<%- include('../layout/admin/_end') -%>