#countdown {
    width: 300px;
    margin: 20px auto;
}
#countdown ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
}
#countdown ul li {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(25% - 10px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 10px;
    background-color: #B37F2A;
    border-radius: 10px;
    font-size: 12px;
}
#countdown ul li span {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}