.button {
	position: relative;
	z-index: 2;

	&.center {
		text-align: center;
	}

	.wrap {
		font-family: var(--f-main);
		color: #dd0025;
		background-color: var(--white);
		text-transform: uppercase;
		transition: var(--transition);
		font-size: var(--step-2);
		padding: 0.4rem 0 0.4rem 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		min-width: 180px;
		font-weight: 700;
	}
}

.txt-sm {
	font-size: var(--step-1);
}

.luot-title {
	font-family: "SVN-Franklin Gothic Cn Demi";
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	font-size: 28px;
}
